.section {
  text-align: center; 
   
}

.main__img{
 display: block;   
 margin: 0 auto;
 border-radius: 60px;
}
.main__img1{
    display: block;   
    margin: 0 auto;
    border-radius: 200px;
}
.main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__p{
text-align: center;
overflow: hidden;

}

.main__h2{
    text-align: left;

}
.main__h1{
    text-align: center;
    font-family: BenchNine, sans-serif;
    font-weight: regular;
    font-size: var(--body-2);
}

.title{
    text-align: center;
}
.title__p{
margin: 20px;
}

.body__p{
    margin: 20px;
    text-align: center;
    font-family: BenchNine, sans-serif;
    font-weight: regular;
    font-size: var(--body-2); 
}

.img__img{
    display: block;   
    margin: 0 auto;
    border-radius: 200px;
}


